
    body {
        background-color:#FFE6E6;
    }
    h1 {
        color: #4ca5cc;}
        h2{color:#4ca5cc; }
        h3{color: #4ca5cc;}
        h4{color: #4ca5cc;}
     hr {
      border-style: none;
      background-color: white;
      height: 2px;
     }
    